@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Light.eot');
    src: url('../fonts/PostGrotesk-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Light.woff2') format('woff2'), url('../fonts/PostGrotesk-Light.woff') format('woff'), url('../fonts/PostGrotesk-Light.ttf') format('truetype'), url('../fonts/PostGrotesk-Light.svg#PostGrotesk-Light') format('svg');
    font-weight: 300;    font-style: normal;    font-display: swap;
}
@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Book.eot');
    src: url('../fonts/PostGrotesk-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Book.woff2') format('woff2'), url('../fonts/PostGrotesk-Book.woff') format('woff'), url('../fonts/PostGrotesk-Book.ttf') format('truetype'), url('../fonts/PostGrotesk-Book.svg#PostGrotesk-Book') format('svg');
    font-weight: normal;    font-style: normal;    font-display: swap;
}
@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Medium.eot');
    src: url('../fonts/PostGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Medium.woff2') format('woff2'), url('../fonts/PostGrotesk-Medium.woff') format('woff'), url('../fonts/PostGrotesk-Medium.ttf') format('truetype'), url('../fonts/PostGrotesk-Medium.svg#PostGrotesk-Medium') format('svg');
    font-weight: 500;    font-style: normal;    font-display: swap;
}
@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Bold.eot');
    src: url('../fonts/PostGrotesk-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Bold.woff2') format('woff2'), url('../fonts/PostGrotesk-Bold.woff') format('woff'), url('../fonts/PostGrotesk-Bold.ttf') format('truetype'), url('../fonts/PostGrotesk-Bold.svg#PostGrotesk-Bold') format('svg');
    font-weight: bold;    font-style: normal;    font-display: swap;
}
@font-face {
    font-family: 'Post Grotesk';
    src: url('../fonts/PostGrotesk-Black.eot');
    src: url('../fonts/PostGrotesk-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Black.woff2') format('woff2'), url('../fonts/PostGrotesk-Black.woff') format('woff'), url('../fonts/PostGrotesk-Black.ttf') format('truetype'), url('../fonts/PostGrotesk-Black.svg#PostGrotesk-Black') format('svg');
    font-weight: 900;    font-style: normal;    font-display: swap;
}

body{ padding:0; margin:0; font-size:14px; color:#343C54; font-family: 'Post Grotesk'; font-weight: normal;}
a {outline:none !important; text-decoration:none;
-webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition:all .4s ease-in-out;}
a:hover, a:focus, select:focus, button:focus,.btn:focus,btn.focus { outline:none; text-decoration:none; box-shadow:none;}
* { margin:0; padding:0;}
img { border:none; vertical-align:middle; max-width:100%;}
li{ list-style:none;}
h1, h2, h3, h4, h5, h6{ outline:none !important; font-weight: normal; color:#343C54;}
strong{ font-weight:bold;}
input, select, textarea, button{ outline:none !important;}
input, textarea, select{ /*-moz-appearance: none; -webkit-appearance: none;*/}
.container{ width:96%; max-width:1300px; margin:0 auto; padding:0;}

p{ font-size:17px; line-height:26px; color:#343C54; font-weight: 300;}

/***********  Top Part  ************/
header{ width:100%; float:left; padding:47px 0 15px 0; margin:0; position:absolute; top:0; left:0; z-index:999;}
header .navbar-brand{ margin:0; padding:0;}
header .navbar{ padding:0;}
header .navbar-light .navbar-nav li{ margin:0 0 0 86px; padding:0;}
header .navbar-light .navbar-nav.ml-auto li{ margin:0 0 0 42px;}
header .navbar-light .navbar-nav .nav-link{ margin-top:6px; padding:2px 0; font-size:20px; color:#343C54; border-bottom:3px solid transparent;}
header .navbar-light .navbar-nav .book_btn a{ margin:0; padding:11px 25px; font-size:16px; color:#fff; font-weight:bold; background:#46D7EA; border-radius:50px; text-align:center; border:none;}
header .navbar-light .navbar-nav .nav-link:hover, header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .show > .nav-link, header .navbar-light .navbar-nav .active > .nav-link, header .navbar-light .navbar-nav .nav-link.show, header .navbar-light .navbar-nav .nav-link.active{ color:#343C54; border-color:#46D7EA;}
header .navbar-light .navbar-nav .book_btn a.nav-link:hover, header .navbar-light .navbar-nav .book_btn a.nav-link:focus{ background:#343c54; color:#fff;}

header .dropdown-menu{ margin-top:0; border-radius:0; box-shadow:0 0 12px rgba(0,0,0,0.1); border:none;}
header .dropdown-item{ padding:7px 20px; font-size:16px;}
header .dropdown-item:hover, header .dropdown-item.active{ background:#46D7EA; color:#fff;}

/************* Section ***********/
section{ width:100%; float:left; padding:0; margin:0;}

/********** Hero Sec **********/
.hero_sec{ width:100%; float:left; margin:0; padding:0; position:relative; overflow:hidden;}
.hero_sec:before{ content:""; width:100%; height:224px; background: -moz-linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 37%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 37%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 37%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=0 ); position:absolute; left:0; top:0;}
.hero_sec img{ width:100%; height:900px; object-fit:cover;}
.hero_sec .cap_info{ width:100%; float:left; margin:0; padding:0; position:absolute; left:0; top:50%; transform:translate(0,-10%);}
.hero_sec .cap_inn{ width:100%; float:left; margin:0; padding:31px 45px 50px 0; max-width:640px; background:rgba(255,255,255,0.5); position:relative;}
.hero_sec .cap_inn:before{ content:""; width:100vh; height:100%; background:rgba(255,255,255,0.5); position:absolute; right:100%; top:0;}
.hero_sec h1{ margin:0 0 15px 0; padding:0; font-size:52px; line-height:50px;}
.hero_sec h1 strong{ display:block;}
.hero_sec p{ margin:0 0 20px 0; padding:0; font-size:25px; line-height:34px; font-weight:300;}

.inner_hero_sec{ width:100%; float:left; margin:0; padding:0; position:relative; overflow:hidden;}
.inner_hero_sec:before{ content:""; width:100%; height:130px; background: -moz-linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 37%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 37%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 37%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=0 ); position:absolute; left:0; top:0;}

.btn_block{ margin:0; padding:0;}
.btn_block .btns{ margin:0 10px 5px 0;}
.btn_block .btns:last-child{ margin-right:0;}

.btns{ margin:0; padding:10px 50px; display:inline-block; font-size:20px; color:#fff; border:1px solid #46D7EA; background:#46D7EA; font-weight:bold; border-radius:100px;}
.btns.btns2{ background:rgba(255,255,255,0.5); color:#46D7EA;}
.btns:hover{ background:#343C54; border-color:#343C54; color:#fff;}

.global_title{ margin:0 0 18px 0; padding:0; font-size:33px; font-weight:bold;}

p{ font-size:17px; line-height:26px;}

/********** Welcome Sec ************/
.welcome_sec{ width:100%; float:left; padding:197px 0 100px 0; margin:0;}
.welcome_sec .detail{ width:100%; float:left; padding:0; margin:0;}
.welcome_sec p{ margin:0 0 30px 0; padding:0;}
.welcome_sec figure{ width:100%; float:left; padding:0 0 12px 12px; margin:0; position:relative;}
.welcome_sec figure img{ width:100%;}
.welcome_sec figure:before{ content:""; opacity: 0.15; background: #46D7EA; position:absolute; top:40px; right:40px; bottom:0; left:0; z-index:-1;}

/********** serv sec **********/
.serv_sec{ width:100%; float:left; padding:53px 0 130px 0; margin:0;}
.serv{ width:100%; float:left; padding:0; margin:0 0 30px 0;}
.serv i{ width:120px; height:120px; float:left; margin:5px; padding:0; position:relative; background:#FDFAD7; border-radius:50%; text-align:center; line-height:120px;}
.serv i:before{ content:""; border:1px solid #F8E71C; position:absolute; left:-5px; top:-5px; right:-5px; bottom:-5px; border-radius:50%; z-index:-1;}
.serv .dtl{ margin:48px 0 0 0; padding:0; font-size:17px; text-transform:uppercase; line-height:20px; overflow:hidden; position:relative; left:-25px;}

.serv.serv2 i{ background:#FFF7F7;}
.serv.serv2 i:before{ border-color:#FF9BB2;}
.serv.serv3 i{ background:#E3F9FC;}
.serv.serv3 i:before{ border-color:#46D7EA;}

/********** Process Sec **********/
.process_sec{ width:100%; float:left; margin:0; padding:140px 0 169px 0; background:#FAFAFA url(../images/process_bg.png) no-repeat right center;}
.process_sec .detail{ width:100%; float:left; max-width:500px; margin:0 0 51px 0; padding:0;}
.process_sec p{ margin:0; padding:0;}
.proc{ width:100%; max-width:207px; float:left; padding:33px 15px 18px 15px; margin:0 0 30px 0; background:#fff; border-left:6px solid rgba(70,215,234,0.48); border-bottom:6px solid rgba(70,215,234,0.48); border-radius:8px; text-align:center; min-height:126px; position:relative;}
.proc:before{ content:""; width:69px; height:19px; background:url(../images/arrow.png) no-repeat center right; position:absolute; left:100%; top:50%; transform:translate(0,-50%);}
.proc.last:before{ display:none;}
.proc h4{ margin:0; padding:0; font-size:19px; font-weight:bold; line-height:22px;}
.process_sec .main_blocks{ width:100%; float:left; max-width:1110px; margin:0; padding:0 0 0 40px;}
.proc.proc2{ border-color:rgba(252,247,181,0.48);}
.proc.proc3{ border-color:rgba(255,159,181,0.48);}

/********** Choose Sec ***********/
.choose_sec{ width:100%; float:left; padding:110px 0 140px 0; margin:0;}
.choose_sec .detail{ width:100%; padding:0; margin:0 0 30px 0; max-width:598px;}
.choose_sec .detail p{ margin:0; padding:0;}
.choose{ width:100%; float:left; padding:0; margin:0 0 30px 0; max-width:318px;}
.choose figure{ width:100%; float:left; padding:0; margin:0 0 26px 0;}
.choose figure img{ width:100%;}
.choose h3{ margin:0 0 16px 0; padding:0; font-size:32px;}
.choose p{ margin:0; padding:0;}

/********** Get Sec **********/
.get_sec{ width:100%; float:left; padding:63px 0 99px 0; margin:0; background:url(../images/get_bg.png) no-repeat right center; background-size:auto 100%;}
.get_sec .detail{ width:100%; float:left; padding:0; margin:0;}
.get_sec p{ margin:0 0 72px 0; padding:0; font-size:19px;}
.get_sec .store_links{ margin:0; padding:0; display:flex;}
.get_sec .store_links a{ max-width:193px; margin:0 20px 0 0; padding:0;}
.get_sec figure{ width:100%; float:left; padding:0; margin:0; text-align:right;}

/********** Testi Sec ***********/
.testi_sec{ width:100%; float:left; padding:100px 0 46px 0; margin:0; overflow:hidden;}
.testi_sec .container{ border-bottom:1px solid #F3F3F3;}
.testi_sec .detail{ width:100%; max-width:570px; padding:0; margin:0 0 54px 0;}
.testi_sec .detail p{ margin:0; padding:0;}
.testi_sec .row{  margin-right: -34px;  margin-left: -34px;}
.testi_sec [class^="col-"], .testi_sec > [class*=" col-"]{ padding-right: 34px; padding-left: 34px;}
.testi{ width:100%; float:left; padding:33px 19px 28px 19px; margin:0 0 70px 0; background:#FAFAFA;}
.testi p{ margin:0 0 25px 0; padding:0;}
.testi h4{ margin:0; padding:0; font-size:17px; font-weight:bold;}

/*********** Seen Sec ************/
.seen_sec{ width:100%; float:left; padding:0 0 120px 0; margin:0; text-align:center;}
.seen_sec ul{ width:100%; float:left; padding:0 115px; margin:0; display:flex; justify-content:space-between;}
.seen_sec ul li{ margin:0; padding:0;}

/************* Footer ***********/
footer{ width:100%; float:left; padding:49px 0 42px 0; margin:0; background:#FAFAFA;}
footer .detail{ width:100%; float:left; padding:0 0 0 130px; margin:0; position:relative;}
footer figure{ float:left; padding:0; margin:0; position:absolute; left:0; top:0;}
footer .add_info{ width:100%; float:left; padding:0; margin:0 0 23px 0;}
footer h3{ margin:0 0 4px 0; padding:0; font-size:19px; font-weight:bold;}
footer .add_info p{ margin:0; padding:0; line-height:21px;}
footer .store_links{ width:100%; float:left; margin:0 0 40px 0; padding:0; display:block;}
footer .store_links a{ float:left; max-width:135px; margin:0 15px 0 0;}
footer .store_links a:last-child{ margin-right:0;}
.copyright{ width:100%; float:left; margin:0; padding:0; font-size:14px; color:#A4AABA; font-weight:300;}

.footer_links{ width:100%; float:left; margin:0; padding:0;}
.footer_links li{ margin:0 0 8px 0; padding:0; display:block; font-size:17px; color:#343C54; font-weight:300;}
.footer_links li a{ color:#343C54;}
.footer_links li a:hover{ color:#46D7EA;}

.social_links{ width:100%; float:left; margin:0; padding:0; text-align:right;}
.social_links li{ margin:0 0 0 14px; padding:0; display:inline-block; font-size:30px; color:#343C54;}
.social_links li a{ color:#343C54;}
.social_links li a:hover{ color:#46D7EA;}

.visible-md{ display:none;}

/********************** How It Work Page *****************************/
.inner_banner{ width:100%; float:left; margin:0; padding:324px 0 37px 0; background:url(../images/banner_services.jpg) no-repeat center center; background-size:cover; text-align:center;}
.inner_banner .container{ max-width:640px;}
.inner_banner h2{ margin:0 0 5px 0; padding:0; font-size:52px; font-weight:bold; /*text-shadow: 0px 0px 3px #fff;*/ }
.inner_banner p{ margin:0; padding:0; font-size:25px; line-height:27px; font-weight:300;}

.work_sec{ width:100%; float:left; margin:0; padding:29px 0 117px 0;}
.work_sec .container{ max-width:1040px;}
.work{ width:100%; float:left; margin:0; padding:100px 0;}
.work .detail{ width:100%; float:left; margin:0; padding:0 0 0 100px; max-width:450px; position:relative;}
.work figure{ width:100%; float:right; margin:0; padding:0; max-width:418px; text-align:right;}
.work .count{ width:68px; height:68px; display:inline-block; margin:0; padding:0; background:#B2EFF7; border-radius:50%; font-size:33px; line-height:68px; text-align:center; font-weight:bold; position:absolute; left:0; top:0;}
.work h3{ margin:2px 0 21px 0; padding:0; font-size: 33px; font-weight:bold; line-height:33px;}
.work p{ margin:0; padding:0;}

.work .flex-row-reverse .detail{ float:right;}
.work .flex-row-reverse figure{ float:left;}

.work:nth-child(2){ background:#FAFAFA;}
.work:nth-child(2) .count{ background:#FF9FB5;}
.work:nth-child(4){ background:#FAFAFA;}
.work:nth-child(4) .count{ background:#FFF473;}
.work:nth-child(4) .detail{ max-width:480px;}

/********************** Join Us Page ************************************/
.inner_banner.join_banner{ background:url(C:/Users/lauri/OneDrive/Documents/Apps/Clean/images/banner_contact_us.jpg) no-repeat center center; background-size:cover;}

.join_sec{ width:100%; float:left; margin:0; padding:50px 0 90px 0;}
.join_sec .detail{ width:100%; float:left; margin:0; padding:0 50px 0 0;}
.join_sec p{ margin:0 0 47px 0; padding:0;}
.join_sec figure{ width:100%; float:left; margin:0; padding:0;}
.join_sec figure img{ width:100%;}

.join_form{ width:100%; float:left; margin:0 0 30px 0; padding:42px 28px 113px 28px; background:#FBFBFB;}
.form_block{ width:100%; float:left; margin:0 0 31px 0; padding:0;}
.form_block label{ display:block; margin:0 0 2px 0; padding:0; font-size:12px; font-weight:bold; clear:both;}
.form_block .field{ width:100%; float:left; margin:0; padding:0 15px; border:1px solid #F2F2F2; border-radius:4px; background:#fff; font-size:16px; color:#B0B4C2; height:43px;}
.join_form .custom-checkbox{ margin:0 0 20px 0; padding:0;}
.join_form .custom-checkbox .custom-control-label{ margin:0; padding:0 0 0 36px; position:relative; font-size:16px; color:#343C54; font-weight:300; min-height:20px;}
.join_form .custom-checkbox .custom-control-label a{ color:#343C54; text-decoration:underline;}
.join_form .custom-checkbox .custom-control-label a:hover{ color:#46D7EA; text-decoration:none;}
.join_form .custom-control-label::before{ width:19px; height:19px; background:#F2F2F2; border-color:#F2F2F2 !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.join_form .custom-control-label::after{ width:19px; height:19px; border-color:#F2F2F2 !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.join_form .custom-control-input:checked ~ .custom-control-label::before{ color: #fff; border-color:#46D7EA !important; background-color:#46D7EA;}
.sub_btn{ min-width:328px; margin:0; padding:0 20px; border:none; background:#46D7EA; border-radius:100px; height:42px; font-size:18px; color:#fff; font-weight:bold; }
.sub_btn:hover{ background:#343C54;}

/*************************** Services Page *********************************/
.inner_banner.service_banner{ background:url(../images/banner_services.jpg) no-repeat center center; background-size:cover;}

.service_sec{ width:100%; float:left; margin:0; padding:220px 0 250px 0;}
.srv_block{ width:100%; float:left; margin:0 0 30px 0; padding:0 16% 0 0;}
.srv_block figure{ width:120px; height:120px; display:block; margin:5px 5px 33px 5px; padding:0; position:relative; background:#FDFAD7; border-radius:50%; text-align:center; line-height:120px;}
.srv_block figure:before{ content:""; border:1px solid #F8E71C; position:absolute; left:-5px; top:-5px; right:-5px; bottom:-5px; border-radius:50%; z-index:-1;}
.srv_block figure img{ width:67px;}
.srv_block h3{ margin:0 0 10px 0; padding:0; font-size:32px; font-weight:bold;}

.srv_block.srv_block2 figure{ background:#FFF7F7;}
.srv_block.srv_block2 figure:before{ border-color:#FF9BB2;}

.srv_block.srv_block3 figure{ background:#E3F9FC;}
.srv_block.srv_block3 figure:before{ border-color:#46D7EA;}

/************************** Contact Us Page ********************************/
.inner_banner.cnct_banner{ background:url(../images/banner_contact_us.jpg) no-repeat center center; background-size:cover;}

.sec_contact{ width:100%; float:left; margin:0; padding:66px 0 16px 0;}
.sec_contact .container{ max-width:1140px;}
.sec_contact .info{ margin:0 0 88px 0; padding:0; font-size:17px; line-height:26px; font-weight:300;}
.sec_contact .info a{ font-weight:bold; color:#46D7EA; text-decoration:underline;}
.sec_contact .info a:hover{ color:#46D7EA; text-decoration:none;}

.add_block{ margin:0 0 60px 44px; padding:0 0 42px 0; font-size:25px; font-weight:300; border-bottom:1px solid #ECECEC; position:relative; line-height:normal;}
.add_block i{ margin:0; padding:0; position:absolute; left:-44px; top:0;}
.add_block strong{ display:block; font-size:33px;}
.add_block a{ color:#343C54;}
.add_block a:hover{ color:#46D7EA;}
.add_block:last-child{ border-bottom:none; padding-bottom:0; margin-bottom:30px;}

.map_info{ width:100%; margin:15px 0 0 0; padding:0; line-height:inherit;}
.map_info iframe{ width:100%; margin:0; padding:0; line-height:inherit;}

.form_contact{ width:100%; float:left; margin:0 0 0 40px; padding:39px 38px 36px 38px; background:#FBFBFB; max-width:404px;}
.form_contact h3{ margin:0 0 33px 0; padding:0; font-size:25px; font-weight:300;}
.form_contact .form_block textarea.field{ height:165px; padding:10px 15px;}
.form_contact .sub_btn{ min-width:inherit; width:100%;}


/************************** About Us Page ********************************/
.inner_banner.about_banner{ background:url(../images/banner_about_us.jpg) no-repeat center center; background-size:cover;}

.about_us{ width:100%; float:left; margin:0; padding:133px 0 164px 0; overflow:hidden;}
.about_us .container{ max-width:1170px;}
.about_us .row{  margin-right: -75px;  margin-left: -75px;}
.about_us [class^="col-"], .about_us > [class*=" col-"]{ padding-right: 75px; padding-left: 75px;}
.about_us p{ margin:0 0 166px 0; padding:0;}

.custom-checkbox{ width:100%; float:left; margin:0 0 17px 0; padding:0;}
.custom-checkbox .custom-control-label{ margin:0; padding:0 0 0 30px; position:relative; font-size:14px; color:#343C54; min-height:20px; cursor: pointer;}
.custom-checkbox .custom-control-label a{ color:#343C54; text-decoration:underline;}
.custom-checkbox .custom-control-label a:hover{ color:#46D7EA; text-decoration:none;}
.custom-control-label::before{ width:17px; height:17px; background:#CCC; border-color:#CCC !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.custom-control-label::after{ width:17px; height:17px; border-color:#CCC !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.custom-control-input:checked ~ .custom-control-label::before{ color: #fff; border-color:#46D7EA !important; background-color:#46D7EA;}

.login_modal .modal-dialog{ max-width:386px; margin:0 auto; padding:30px 0;}
.login_modal .modal-content{ border:none; border-radius:11px; background:#FBFBFB;}
.login_modal .modal-body{ margin:0; padding:42px 29px 37px 29px; position:relative;}
.login_modal .close{ margin:0; padding:0; line-height:inherit; position:absolute; right:32px; top:18px; opacity:1;}
.login_modal .global_title{ font-weight:normal;}
.login_modal .form_block{ margin-bottom:19px;}
.login_modal .custom-checkbox{ width:100%; float:left; margin:0 0 17px 0; padding:0;}
.login_modal .custom-checkbox .custom-control-label{ margin:0; padding:0 0 0 30px; position:relative; font-size:13px; color:#343C54; font-weight:300; min-height:20px;}
.login_modal .custom-checkbox .custom-control-label a{ color:#343C54; text-decoration:underline;}
.login_modal .custom-checkbox .custom-control-label a:hover{ color:#46D7EA; text-decoration:none;}
.login_modal .custom-control-label::before{ width:17px; height:17px; background:#CCC; border-color:#CCC !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.login_modal .custom-control-label::after{ width:17px; height:17px; border-color:#CCC !important; border-radius:4px; position:absolute; left:0; top:1px; box-shadow:none !important;}
.login_modal .custom-control-input:checked ~ .custom-control-label::before{ color: #fff; border-color:#46D7EA !important; background-color:#46D7EA;}
.login_modal .sub_btn{ min-width:inherit; width:100%;}
.login_modal .sub_btn.fb{ background:#537DC0; margin-bottom:12px;}
.login_modal .sub_btn.fb img{ width:17px; position:relative; top:-4px; margin-right:10px;}
.login_modal .sub_btn.fb:hover{ background:#343C54; color:#fff;}
.or{ margin:7px 0; padding:0; text-align:center; font-size:14px; font-weight:300;}
.login_modal p{ margin-bottom:38px;}
.login_modal p a{ color:#46D7EA; font-weight:bold; text-decoration:underline;}
.login_modal p a:hover{ text-decoration:none;}

.simp_link{ margin:0 0 38px 0; padding:0; display:inline-block; font-size:14px; color:#343C54; font-weight:300;}
.simp_link:hover{ text-decoration:underline; color:#46D7EA;}

.clear_both{ clear:both;}

.blog_sec { width:100%; float:left; margin:0; padding:50px 0 90px 0; }
.blog_sec .container { max-width: 1140px; }
.blog_sec .block { float: left; width: 100%; position: relative; margin: 0 0 30px; padding: 0; }
.blog_sec .block img { width: 100%; }
.blog_sec .overlay {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.4);
  -webkit-transition: all .6s ease-in-out; -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out; -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.blog_sec .block:hover .overlay { box-shadow: 0 0 50px rgba(0,0,0,.5) inset; }
.blog_sec .caption_info {
  width: 100%; float: left; margin: 0; padding: 0 20px 15px; font-size: 18px;
  color: #fff; position: absolute; left: 0; bottom: 0; z-index: 9;
}
.blog_sec .caption_info i { margin-right: 5px; }
.blog_sec h2{margin: 30px 0px;padding:0 0 30px;font-size:24px;color:#000;position:relative;text-align:center}
.blog_sec h2:after {height:1px;bottom:0;content:"";left:50%;width:100px;background:#46D7EA;position:absolute;margin-left:-50px }
.blog_sec h2 strong{font-weight:400}
.blog_sec h3 { margin:0 0 15px; font-weight: 500; padding:0; color:#282828; font-size:16px; }
.blog_sec h5 { padding:0; color:#282828; font-size:14px; margin:10px 0px; }
.blog_sec p { padding:0;color:#282828;font-size:16px; }
.blog_sec .media_block{margin:10px 0;border:1px solid #6F6F6F;padding:10px;border-radius:5px}
.blog_sec .publish_info{width:100%;padding:10px;font-size:14px;color:#fff;position:absolute;text-align:right;z-index:9}
.blog_sec .publish_info i{margin-right:2px}

#paginate_block { width:100%;float:left;margin:20px 0; padding:0;text-align:center}
#paginate_block .pagination { display: inline-flex; }
#paginate_block .pagination>li>a,.pagination>li>span{padding:8px 16px;font-size:14px;color:#000; background-color: #eee;}
#paginate_block .pagination>li>a:hover,.pagination>li>span:hover { background-color: #dadada; }
#paginate_block .pagination>.active>a,
#paginate_block .pagination>.active>a:focus,
#paginate_block .pagination>.active>a:hover,
#paginate_block .pagination>.active>span,
#paginate_block .pagination>.active>span:focus,
#paginate_block .pagination>.active>span:hover{ background-color:#46D7EA; border-color:#46D7EA; font-weight:600; color: #fff; }

ul.copyright_footer_link{margin:0;padding:0;}
ul.copyright_footer_link li{margin:0;padding:0 5px;display:block;font-size:14px;color:#A4AABA;float:left}
ul.copyright_footer_link li::before{content:"â€¢";margin-right:5px}
ul.copyright_footer_link li a{color:#A4AABA}
ul.copyright_footer_link li a:hover{color:#46D7EA}

#notification { display: none; }
.request_notify { font-size: 20px; color: #F63; }

.page_sec{ width:100%; float:left; margin:0; padding:50px 0 90px 0;}
.page_sec .detail{ width:100%; float:left; margin:0; padding:0 50px 0 0;}
.page_sec h2{ margin: 0 0 18px 0; padding: 0; font-size: 33px; font-weight: bold; }
.page_sec p{ margin:0 0 30px 0; padding:0; width: 100%; }
.page_sec figure{ width:100%; float:left; margin:0; padding:0;}
.page_sec figure img{ width:100%;}

footer a { color: #343C54; text-decoration: none; }
footer a:hover, footer a:focus { color: #46D7EA; }

.earn_list{width:100%;float:left;margin:0;padding:0;}
.earn_list h2{margin:0 0 27px;padding:0 0 30px;font-size:24px;color:#000;position:relative;text-align:center}
.earn_list h2:after{width:100px;background:#f63;position:absolute;margin-left:-50px}
.earn_list h3{margin: 30px 0px;padding:0 0 30px;font-size:24px;color:#000;position:relative;text-align:center}
.earn_list h3:after {height:1px;bottom:0;content:"";left:50%;width:100px;background:#46D7EA;position:absolute;margin-left:-50px }

.upload_btn { margin: 0; padding:0; position: absolute; bottom: 0; left: 0; top: 0; right: 0; }
.upload_btn .fileUpload {
    width: 100%; height: 100%; position: relative; overflow: hidden; padding: 10px 0 15px;
    margin: 0; font-size: 30px; color: #fff; background: 0 0; border: 2px solid #46D7EA;
}
.upload_btn .fileUpload span {
  position: absolute; right: -5px; top: -5px; padding: 8px; line-height: 0px; cursor: pointer;
  font-size: 20px; background: rgba(255,255,255, 0.8); color: #999; border-radius: 10px;
}
.upload_btn .fileUpload input.upload {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    margin: 0; padding: 0; font-size: 20px; cursor: pointer;
    opacity: 0; filter: alpha(opacity=0);
}
.profile_image{width:100%;max-width:150px;display:block;margin:0 auto;position:relative; padding: 0px}
.profile_image img#img-upload { min-width: 150px; overflow: hidden; border-radius: 5px; }

.block_divider {
    -webkit-box-shadow: 0 5px 6px -6px #9c9c9c;
    -moz-box-shadow: 0 5px 6px -6px #9c9c9c;
    box-shadow: 0 5px 6px -6px #9c9c9c;
    margin: 0 auto 10px !important;
    padding: 30px 0 !important;
    width: 100%;
}

.order_detail{width:100%;float:left;margin:0;padding:20px 0px; position: relative; z-index: 1; }
.order_detail .block{width:100%;float:left;margin:0 0 30px;padding:20px 10px !important;}
.order_detail figure{width:130px;float:left;margin:0;padding:0}
.order_detail figure img{width:100%}
.order_detail .right{overflow:hidden;margin:0;padding:0 0 0 30px}
.order_detail h2{margin:0;padding:0;font-size:28px;color:#282828}
.order_detail p{margin:5px 0 0;padding:0;font-size:18px;color:#282828;line-height:32px}
.order_detail p b { font-weight: 500; }
.order_detail .other_detail{width:100%;float:left;margin:0;padding:0;text-align:right; padding: 0px 10px;}
.order_detail .price{width:100%;float:left;margin:15px 0;padding:0;font-size:30px;color:#282828; font-weight: 600;}
.order_detail .track_link{width:100%;max-width:238px;display:inline-block;margin:0;padding:0 10px;background:#71bd44;border-radius:5px;text-align:center;line-height:55px;font-size:20px;color:#282828}
.order_detail .track_link:hover{background:#343c54;color:#fff}
.track_sec,.track_sec .track_caption,.track_sec iframe{float:left;padding:0;margin:0}
.track_sec h3,.track_sec h3 a{color:#282828}
.track_sec{width:100%;position:relative}
.track_sec iframe{width:100%;line-height:inherit}
.track_sec .track_caption{width:50%;height:100%;position:relative;top:0;left:0;bottom:0;}
.track_sec .track_caption .inner{width:100%;max-width:600px;float:right;margin:0;padding:20px}
.track_sec figure{width:99px;float:left;margin:0 0 15px;padding:0;border-radius:50%}
.track_sec figure img{width:100%;border-radius:50%}
.track_sec .right{overflow:hidden;margin:0;padding:0 0 0 30px}
.track_sec h3{margin:0;padding:0;font-size:24px}
.track_sec h3 a:hover{color:#343c54}
.track_sec ul.phone_info{margin:0;padding:0;text-align:right}
.track_sec ul.phone_info li{margin:0 0 0 25px;padding:0;display:inline-block;font-size:30px;color:#46D7EA}
.track_sec ul.phone_info li a{color:#46D7EA}
.track_sec ul.phone_info li a:hover{color:#343c54}
.track_sec ul.rating_info{width:100%;float:left;margin:0 0 10px;padding:0}
.track_sec ul.rating_info li{margin:0;padding:0;display:inline-block;font-size:21px;color:#46D7EA}
.track_sec h2{margin:0 0 20px;padding:0;font-size:30px;color:#282828}
.track_sec p{margin:0 0 10px;padding:0;font-size:18px;color:#282828;line-height:normal}
.quick_link{width:100%;float:left;max-width:200px;line-height:normal;margin:0;padding:2px 10px;text-align:center;font-size:20px;color:#282828;border:1px solid #000;border-radius:5px}
.quick_link i{margin-right:5px; margin-top:8px;}
.progress_sec,.progress_sec .detail{margin:0;position:relative;width:100%;float:left}
.quick_link:hover { background:#000; color:#fff; }
.quick_link:hover a {color:#fff !important; }
.progress_sec .date_info,.progress_sec h2,.progress_sec p{color:#e2e2e2;text-align:center}
.progress_sec{padding:40px 0;background:url(../images/progress_sec_bg.jpg) center center no-repeat;background-size:cover}
.progress_sec .container{max-width:880px}
.progress_sec .detail{padding:0}
.progress_sec .detail:after{ height:1px; background:#e2e2e2;position:absolute;left:0;right:0;top:15px; }
.progress_sec h2{margin:30px 0;padding:0;font-size:42px}
.progress_sec .block{width:100%;float:left;margin:0 0 30px;padding:0;position:relative;z-index:1}
.progress_sec i{width:35px;height:30px;display:block;margin:0 auto 20px;padding:0;background:#e2e2e2}
.progress_sec p{margin:0 0 5px;padding:0;font-size:20px;line-height:30px;font-weight:400}
.progress_sec .date_info{width:100%;float:left;margin:0;padding:0;font-size:20px}
.progress_sec .detail .block i.active_progress{background:#46D7EA}
.rating_sec{width:100%;background:#e2e2e2;float:left}
.rating_sec{margin:0;padding:30px 0}
.rating_sec h2{margin:0 0 30px;padding:0;font-size:36px;color:#282828;text-align:center}
.rating_sec ul{margin:0;padding:0;text-align:center}
.rating_sec ul li{margin:0 10px;padding:0;display:inline-block}
.location_sec{width:100%;float:left;margin:0;padding:0;position:relative;background: #e2e2e2;}
.location_sec .map_caption{width:43%;height:100%;float:left;margin:0;padding:40px 0 50px;position:relative;top:0;left:0;bottom:0;}
.location_sec .map_caption .inner{width:100%;max-width:550px;float:right;margin:0;padding:0 50px 0 40px}
.location_sec h2{margin:0 0 20px;padding:0;font-size:36px;color:#343C54}
.location_sec .form_block{width:100%;float:left;margin:0 0 25px;padding:0;position:relative}
.location_sec .form_block .field{width:100%;float:left;margin:0;padding:0 45px 0 18px; font-size:16px;color:#282828;line-height:58px; border-color: #ccc; }
.location_sec .form_block i{font-size:24px;color:#999;position:absolute;right:10px;top:10px}
.location_sec p{margin:0 0 15px;padding:0;font-size:16px;color:#282828}
.location_sec ul.button_info{width:100%;float:left;margin:0;padding:0}
.location_sec ul.button_info li{width:50%;float:left;margin:0;padding:0;line-height:48px;font-size:18px;color:#fff;text-align:center}
.location_sec ul.button_info li a{background:#343C54;color:#fff;padding:0 10px;display:block}
.location_sec ul.button_info li a:hover,.location_sec ul.button_info li.active a{background:#46D7EA}
.location_sec .confirm_link{width:100%;float:left;margin:0;padding:0 10px;background:#46D7EA;text-align:center;line-height:62px;font-size:24px;color:#fff}
.location_sec .confirm_link:hover{background:#343c54;color:#fff}
.set_value{width:100%;float:left;margin:0 0 -12px;padding:25px 0 0}
.set_value .irs-with-grid{height:inherit}
.set_value .irs-bar {background:#46D7EA;height:1px; width: 100%; left: 0; }
.set_value .irs-line { width: 96%; left: 2%; }
.set_value .irs-line-left,
.set_value .irs-line-mid,
.set_value .irs-line-right{ background:#343C54; height:1px }
.set_value .irs-slider{background:#46D7EA;top:16px}
.set_value .irs-single{background:0 0;color:#343C54;font-size:16px;top:-15px;padding-bottom:15px; font-weight: 500; position: unset; margin-top: -25px; width: 70px;}
.set_value .irs-single::after { display: none; }
ul.value_detail{width:100%;float:left;margin:0 0 15px;padding:0}
ul.value_detail li{width:1%;display:table-cell;margin:0;padding:10px 0 0;font-size:13px;color:#46D7EA;position:relative;text-align:center}
ul.value_detail li:after{width:1px;height:14px;background:#c6c2c2;position:absolute;left:50%;top:0}
.bedroom_info{width:100%;float:left;margin:0;padding:0}
.bedroom_info p{float:left;margin:0;padding:0;font-size:17px;color:#343C54}
.bedroom_info .field_block{width:100%;max-width:100px;float:right;padding:0;margin:0 0 30px}
.bedroom_info .btn-default{width:30px;height:24px;padding:0;background:0 0;border:1px solid #343C54;border-radius:0;box-shadow:none}
.bedroom_info .btn-default:hover{background:#343C54;color:#fff;border-color:#343C54}
.bedroom_info .form-control{height:24px;padding:0;margin:0;border:none;text-align:center;background:0 0;border-radius:0;box-shadow:none}
.clean_sec.clean_info{background:#fff}
.clean_sec.clean_info .block h4,.clean_sec.clean_info h2,.clean_sec.clean_info h3{color:#000}

.dropdown-menu { -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); padding: 0px; }
.dropdown-menu li a { width: 100%; display: inline-block; padding: 8px; font-size: 16px; color: #666; }
.dropdown-menu li:hover, .dropdown-menu li a:hover { background-color: #eee; color: #333; }

#location_info_block ul.button_info{width:100%;float:left;margin:0;padding:0}
#location_info_block ul.button_info li{width:50%;float:left;margin:0;padding:0;line-height:48px;font-size:18px;color:#fff;text-align:center}
#location_info_block ul.button_info li a{background:#343C54;color:#fff;padding:0 10px;display:block}
#location_info_block ul.button_info li a:hover,#location_info_block ul.button_info li.active a{background:#46D7EA}
#location_info_block .set_value{width:100%;float:left;margin:0 0 -12px;padding:25px 0 0}
#location_info_block .set_value .irs-with-grid{height:inherit}
#location_info_block .set_value .irs-bar {background:#46D7EA;height:1px; width: 100%; left: 0; }
#location_info_block .set_value .irs-line { width: 96%; left: 2%; }
#location_info_block .set_value .irs-line-left,
#location_info_block .set_value .irs-line-mid,
#location_info_block .set_value .irs-line-right{ background:#343C54; height:1px }
#location_info_block .set_value .irs-slider{background:#46D7EA;top:16px}
#location_info_block .set_value .irs-single{background:0 0;color:#343C54;font-size:16px;top:-15px;padding-bottom:15px; font-weight: 500; position: unset; margin-top: -25px; width: 70px;}
#location_info_block .set_value .irs-single::after { display: none; }
#location_info_block ul.value_detail{width:100%;float:left;margin:0 0 15px;padding:0}
#location_info_block ul.value_detail li{width:1%;display:table-cell;margin:0;padding:10px 0 0;font-size:13px;color:#46D7EA;position:relative;text-align:center}
#location_info_block ul.value_detail li:after{content:"";width:1px;height:14px;background:#c6c2c2;position:absolute;left:50%;top:0}
#location_info_block .bedroom_info{width:100%;float:left;margin:0;padding:0}
#location_info_block .bedroom_info p{float:left;margin:0;padding:0;font-size:17px;color:#343C54}
#location_info_block .bedroom_info .field_block{width:100%;max-width:100px;float:right;padding:0;margin:0 0 30px}
#location_info_block .bedroom_info .btn-default{width:30px;height:24px;padding:0;background:0 0;border:1px solid #343C54;border-radius:0;box-shadow:none}
#location_info_block .bedroom_info .btn-default:hover{background:#343C54;color:#fff;border-color:#343C54}
#location_info_block .bedroom_info .form-control{height:24px;padding:0;margin:0;border:none;text-align:center;background:0 0;border-radius:0;box-shadow:none}

.order_detail .price span { width: 100%; display: block; font-size: 18px; font-weight: normal; }
.badge { font-weight: 400; padding: 5px 10px; font-size: 15px; }
.badge.alert-success { border: 1px solid #155724; }
.badge.alert-primary { border: 1px solid #004085; }
.badge.alert-info { border: 1px solid #0c5460; }
.badge.alert-warning { border: 1px solid #856404; }
.badge.alert-danger { border: 1px solid #721c24; }
.badge .fa-info-circle { cursor: pointer; }